/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

 */
/* 
.head{
  font-size: 30px;
  background: #7a7676;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  text-align: center;
} */